.main-infor{
    position: relative;
    margin-top: -1.9%;
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 130%;
    margin-left: -2.3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.title-infor{
    position: absolute;
    margin-top: 1.3%;
    margin-left: 2.5%;
}
.contact-info{
    position: absolute;
    margin-top: 7%;
    margin-left: 2.7%;
}
.info-item{
    margin-top: 5px;
    margin-bottom: 10px;
}
.info-item input {
    width: 200%;
    height: 25px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 1; /* Input chiếm toàn bộ không gian còn lại của phần tử cha */
}
.save-button, .cancel-button {
    padding: 8px 20px;
    background-color: #4CAF50; /* Màu nền cho nút "Lưu" */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-button {
    background-color: #f44336; /* Màu nền cho nút "Hủy" */
    text-decoration: none;
}

.save-button:hover, .cancel-button:hover {
    background-color: rgb(25, 84, 172); /* Màu nền khi di chuột qua */
}


