@charset "UTF-8";
.header-main{
    position: relative;
    margin-top: -2%;
    background-color: rgb(197, 223, 245);
    height: 150px;
    width: 130%;
    margin-left: -2.3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.title{
    position: absolute;
    margin-top: 4%;
    height: 10%;
    width: 90%;
    margin-left: -5%;
    color: rgb(11, 11, 11);
    font-size: 30px;
}
.question-input {
    position: absolute;
    width: 50%;
    height: 35px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8%;
    margin-left: 13%;
    box-sizing: border-box; /* Đảm bảo phần padding không làm thay đổi kích thước của ô input */
}
.header-main {
    position: relative;
}

.search-container {
    display: flex;
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
}

.question-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px; /* Bo tròn góc */
    outline: none;
}

.search-button {
	margin-top: 9%;
	margin-left: 65%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    top: 50%; /* Đưa nút lên giữa theo chiều dọc */
    transform: translateY(-50%); /* Điều chỉnh vị trí dọc */
}
.search-button1{
	margin-top: 9%;
	margin-left: 65%;
	height : 20px;
	wight : 20px;

}
.left-side-bar1{
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 5%;
    height: 70%;
    margin-top: 10%;
    width: 40%;
}
.title1{
	position: absolute;
    margin-left: 5%;
    height: 10%;
    margin-top: -5%;
    width: 80%;
    font-size : 20px;
}
.title1 {
    font-size: 18px; /* Kích thước chữ */
    color: #333; /* Màu chữ */
}

.question-answer {
    font-size: 14px; /* Kích thước chữ */
    color: #666; /* Màu chữ */
    margin-top: 5%; /* Khoảng cách từ trên xuống */
    margin-left: 5%;
    
}
.save-button {
    padding: 8px 16px; /* Kích thước của nút */
    background-color:  #6495ED; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Loại bỏ viền */
    border-radius: 5px; /* Bo tròn góc */
    cursor: pointer; /* Hiệu ứng con trỏ */
    margin-left: 30px; /* Khoảng cách với nút sửa */
    margin-top: 15px;
}

.save-button:hover {
    background-color: #45a049; /* Màu nền khi di chuột qua */
}
.edit-button {
    padding: 8px 16px; /* Kích thước của nút */
    background-color:  #6495ED; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Loại bỏ viền */
    border-radius: 5px; /* Bo tròn góc */
    cursor: pointer; /* Hiệu ứng con trỏ */
    margin-left: 100px; 
}

.edit-button:hover {
    background-color: #45a049; /* Màu nền khi di chuột qua */
}



